.hero 
 height: 100vh
 display: flex
 padding-top: 62px
 padding-left: 0px
 color: $light
 position: relative
 &__content
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  // max-width: 47.857143rem
  width: 100%
  padding-left: 4.285714rem
  background: $dark url(../../img/hero-bg.jpg) no-repeat center / cover
  &::before
   content: ''
   position: absolute
   top: 0
   left: 0
   width: 100%
   height: 100%
   background: rgba($dark, 0.7)
 &__title
  position: relative
  max-width: 35.714286rem
 &__text
  position: relative
  font-size: 1.571429rem
  line-height: 133%
  max-width: 500px
  margin: 0
  margin-bottom: 3.3rem
 &__button
  position: relative
  margin-right: 18px
  padding: 18px 28px
 &__instagram
  max-width: 80px
  height: 100%
 &__scroll-down
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  bottom: 0
  left: 0
  min-width: 17.642857rem
  min-height: 6.928571rem
  background-color: $dark
  text-transform: uppercase
  text-decoration: none
  color: $light
  font-family: 'Yeseva One', cursive
  font-size: 12px
  font-weight: 200
  &::after
    content: ''
    background: url('../../img/hero-vector.svg') no-repeat center
    width: 30px
    height: 30px
    border: 2px solid $primary
    border-radius: 50%
    margin-left: 12px
.instagram
 display: flex
 justify-content: center
 align-items: center
 background: $dark
 &__link
  display: flex
  align-items: center
  text-transform: uppercase
  text-decoration: none
  color: $primary
  transform: rotate(90deg)
  line-height: 0.8
  font-size: 1.05rem
  &::after
    content: ''
    width: 50px
    height: 1px
    background: $primary  
    margin-left: 15px
.title
 margin: 0 0 1.2rem 0
 font-family: 'Yeseva One', cursive
 text-transform: uppercase
 font-size: 2.857143rem
 line-height: 1.35
 &--primary
  color: $primary
